body {
   background-color: #FFFFFF;
  font-family: sans-serif;
}
h1 {
  font-size: 30px;
  padding-top:0;
  margin-top:0;
  margin-bottom: 5px;
}
p {
  font-family: 'Gotham', sans-serif;
  font-family: 'Gotham Black', sans-serif;
  font-family: 'Gotham Light', sans-serif;
  font-family: 'Gotham Thin', sans-serif;
  font-family: 'Gotham XLight', sans-serif;
  font-family: 'Gotham Book', sans-serif;
  font-family: 'Gotham Ultra', sans-serif;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.right {
  text-align: right;
  width: 25%;
  margin-bottom:0;
  font-weight:bold;
  margin-top: 2px;
}
.left {
  text-align: left;
  width: 75%;
  margin:0;
  font-weight:bold;
  margin-top: 2px;
}
.info {
  width: 80%;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
